.navbar {
  background-color: transparent;
  border-bottom: 0;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
  padding: 0.5rem 8rem;
}
@media screen and (max-width: 768px) {
  .navbar {
    padding: 0.5rem;
  }
  .navbar .navbar-collapse {
    background-color: #131313;
    text-align: left !important;
  }
  .navbar .navbar-nav > li > a {
    color: #fff !important;
  }
  .navbar .navbar-nav > .active > a, .navbar .navbar-nav > .active > a:hover {
    background-color: #131313 !important;
  }
}
.navbar .navbar-center {
  display: inline-block;
  float: none;
}
.navbar .navbar-collapse {
  text-align: center;
}
.navbar .navbar-brand {
  color: #fff;
  font-weight: bold;
}
.navbar .navbar-brand:hover {
  color: #fff;
}
.navbar .navbar-nav > li > a {
  color: #fff;
}
.navbar .navbar-nav > li > a:hover {
  color: #fff;
  text-decoration: underline;
}
.navbar .navbar-nav > .active > a {
  color: #d8d8d8;
}
.navbar .navbar-nav > .active > a:hover {
  color: #d8d8d8;
}
.navbar .navbar-nav > .active > a, .navbar .navbar-nav > .active > a:hover {
  background-color: transparent;
}
.navbar .navbar-nav > li > .dropdown-menu, .navbar .dropdown-menu {
  display: block;
  margin: 0;
  padding: 0;
  z-index: 1000;
  position: absolute;
  opacity: 0;
  -moz-transform: scale(0);
  -ms-transform: scale(0);
  -webkit-transform: scale(0);
  transform: scale(0);
  -moz-box-shadow: 1px, 2px, 3px, rgba(0, 0, 0, 0.125);
  -webkit-box-shadow: 1px, 2px, 3px, rgba(0, 0, 0, 0.125);
  box-shadow: 1px, 2px, 3px, rgba(0, 0, 0, 0.125);
  -moz-border-radius: 0.8rem;
  -webkit-border-radius: 0.8rem;
  border-radius: 0.8rem;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-filter: alpha(opacity=0);
  filter: alpha(opacity=0);
  -moz-transition: all, 100ms, cubic-bezier(0.95, 0.05, 0.795, 0.035);
  -o-transition: all, 100ms, cubic-bezier(0.95, 0.05, 0.795, 0.035);
  -webkit-transition: all, 100ms, cubic-bezier(0.95, 0.05, 0.795, 0.035);
  transition: all, 100ms, cubic-bezier(0.95, 0.05, 0.795, 0.035);
  -moz-transition-timing-function: cubic-bezier(0.95, 0.05, 0.795, 0.035);
  -o-transition-timing-function: cubic-bezier(0.95, 0.05, 0.795, 0.035);
  -webkit-transition-timing-function: cubic-bezier(0.95, 0.05, 0.795, 0.035);
  transition-timing-function: cubic-bezier(0.95, 0.05, 0.795, 0.035);
}
@media screen and (max-width: 768px) {
  .navbar .navbar-nav > li > .dropdown-menu, .navbar .dropdown-menu {
    position: inherit !important;
    display: none !important;
  }
  .navbar .navbar-nav > li > .dropdown-menu a, .navbar .dropdown-menu a {
    color: #fff !important;
  }
}
.navbar .navbar-nav > li.open > .dropdown-menu, .navbar .open .dropdown-menu {
  -moz-transform: scale(1);
  -ms-transform: scale(1);
  -webkit-transform: scale(1);
  transform: scale(1);
  -webkit-filter: none;
  filter: none;
  opacity: 1;
  display: block !important;
}
.navbar .dropdown-menu:before, .navbar .dropdown-menu:after, .navbar.scrolled .dropdown-menu:before, .navbar.scrolled .dropdown-menu:after {
  border-left: 11px solid transparent;
  border-right: 11px solid transparent;
  content: "";
  display: inline-block;
  position: absolute;
  left: 100%;
  margin-left: -90%;
}
@media screen and (max-width: 768px) {
  .navbar .dropdown-menu:before, .navbar .dropdown-menu:after, .navbar.scrolled .dropdown-menu:before, .navbar.scrolled .dropdown-menu:after {
    display: none !important;
  }
}
.navbar .navbar-right .dropdown-menu:before, .navbar .navbar-right .dropdown-menu:after {
  margin-left: -30%;
}
.navbar .dropdown-menu:before {
  border-bottom: 11px solid rgba(0, 0, 0, 0.2);
  top: -11px;
}
.navbar .dropdown-menu:after {
  border-bottom: 11px solid #FFFFFF;
  top: -10px;
}
.navbar .dropdown-menu > li > a {
  padding: 8px 20px;
  color: #333333;
}
.navbar .dropdown-menu > li:first-child > a {
  border-radius: 10px 10px 0 0;
}
.navbar .dropdown-menu > li:last-child > a {
  border-bottom: 0 none;
  border-radius: 0 0 10px 10px;
}
.navbar .dropdown-menu > li > a:hover, .navbar .dropdown-menu > li > a:focus {
  background-color: #F5F5F5;
  color: #333333;
  opacity: 1;
  text-decoration: none;
}
.navbar .dropdown.open > a, .navbar .dropdown.open > a:hover, .navbar .dropdown.open > a:focus, .navbar .dropdown.open > a:active {
  color: #fff;
}
.navbar .navbar-toggle {
  background-color: #333;
}
@media screen and (max-width: 1170px) {
  .navbar .highdensity-menu {
    max-width: 400px;
    padding-top: 2px;
  }
  .navbar .highdensity-menu li a {
    padding: 2px 6px;
  }
}

.navbar-default .navbar-nav > .open > a,
.navbar-default .navbar-nav > .open > a:hover,
.navbar-default .navbar-nav > .open > a:focus {
  background-color: transparent;
}

.navbar-default .navbar-toggle:focus,
.navbar-default .navbar-toggle:hover {
  background-color: #333;
}

.navbar.scrolled {
  background-color: #fff;
  border-bottom: 0;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
  padding: 0.5rem 8rem;
  opacity: 0.9;
  box-shadow: 0 0.05rem 1rem #333;
}
@media screen and (max-width: 768px) {
  .navbar.scrolled {
    padding: 0.5rem;
  }
  .navbar.scrolled .navbar-collapse {
    background-color: #131313;
    text-align: left !important;
  }
  .navbar.scrolled .navbar-nav > li > a {
    color: #fff !important;
  }
  .navbar.scrolled .navbar-nav > .active > a, .navbar.scrolled .navbar-nav > .active > a:hover {
    background-color: #131313 !important;
  }
}
.navbar.scrolled .navbar-center {
  display: inline-block;
  float: none;
}
.navbar.scrolled .navbar-collapse {
  text-align: center;
}
.navbar.scrolled .navbar-brand {
  color: #010101;
  font-weight: bold;
}
.navbar.scrolled .navbar-brand:hover {
  color: #6e6e6e;
}
.navbar.scrolled .navbar-nav > li > a {
  color: #6e6e6e;
}
.navbar.scrolled .navbar-nav > li > a:hover {
  color: #6e6e6e;
  text-decoration: underline;
}
.navbar.scrolled .navbar-nav > .active > a {
  color: #010101;
}
.navbar.scrolled .navbar-nav > .active > a:hover {
  color: #010101;
}
.navbar.scrolled .navbar-nav > .active > a, .navbar.scrolled .navbar-nav > .active > a:hover {
  background-color: #fff;
}
.navbar.scrolled .navbar-nav > li > .dropdown-menu, .navbar.scrolled .dropdown-menu {
  display: block;
  margin: 0;
  padding: 0;
  z-index: 1000;
  position: absolute;
  opacity: 0;
  -moz-transform: scale(0);
  -ms-transform: scale(0);
  -webkit-transform: scale(0);
  transform: scale(0);
  -moz-box-shadow: 1px, 2px, 3px, rgba(0, 0, 0, 0.125);
  -webkit-box-shadow: 1px, 2px, 3px, rgba(0, 0, 0, 0.125);
  box-shadow: 1px, 2px, 3px, rgba(0, 0, 0, 0.125);
  -moz-border-radius: 0.8rem;
  -webkit-border-radius: 0.8rem;
  border-radius: 0.8rem;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-filter: alpha(opacity=0);
  filter: alpha(opacity=0);
  -moz-transition: all, 100ms, cubic-bezier(0.95, 0.05, 0.795, 0.035);
  -o-transition: all, 100ms, cubic-bezier(0.95, 0.05, 0.795, 0.035);
  -webkit-transition: all, 100ms, cubic-bezier(0.95, 0.05, 0.795, 0.035);
  transition: all, 100ms, cubic-bezier(0.95, 0.05, 0.795, 0.035);
  -moz-transition-timing-function: cubic-bezier(0.95, 0.05, 0.795, 0.035);
  -o-transition-timing-function: cubic-bezier(0.95, 0.05, 0.795, 0.035);
  -webkit-transition-timing-function: cubic-bezier(0.95, 0.05, 0.795, 0.035);
  transition-timing-function: cubic-bezier(0.95, 0.05, 0.795, 0.035);
}
@media screen and (max-width: 768px) {
  .navbar.scrolled .navbar-nav > li > .dropdown-menu, .navbar.scrolled .dropdown-menu {
    position: inherit !important;
    display: none !important;
  }
  .navbar.scrolled .navbar-nav > li > .dropdown-menu a, .navbar.scrolled .dropdown-menu a {
    color: #fff !important;
  }
}
.navbar.scrolled .navbar-nav > li.open > .dropdown-menu, .navbar.scrolled .open .dropdown-menu {
  -moz-transform: scale(1);
  -ms-transform: scale(1);
  -webkit-transform: scale(1);
  transform: scale(1);
  -webkit-filter: none;
  filter: none;
  opacity: 1;
  display: block !important;
}
.navbar.scrolled .dropdown-menu:before, .navbar.scrolled .dropdown-menu:after {
  border-left: 11px solid transparent;
  border-right: 11px solid transparent;
  content: "";
  display: inline-block;
  position: absolute;
  left: 100%;
  margin-left: -90%;
}
@media screen and (max-width: 768px) {
  .navbar.scrolled .dropdown-menu:before, .navbar.scrolled .dropdown-menu:after {
    display: none !important;
  }
}
.navbar.scrolled .navbar-right .dropdown-menu:before, .navbar.scrolled .navbar-right .dropdown-menu:after {
  margin-left: -30%;
}
.navbar.scrolled .dropdown-menu:before {
  border-bottom: 11px solid rgba(0, 0, 0, 0.2);
  top: -11px;
}
.navbar.scrolled .dropdown-menu:after {
  border-bottom: 11px solid #FFFFFF;
  top: -10px;
}
.navbar.scrolled .dropdown-menu > li > a {
  padding: 8px 20px;
  color: #333333;
}
.navbar.scrolled .dropdown-menu > li:first-child > a {
  border-radius: 10px 10px 0 0;
}
.navbar.scrolled .dropdown-menu > li:last-child > a {
  border-bottom: 0 none;
  border-radius: 0 0 10px 10px;
}
.navbar.scrolled .dropdown-menu > li > a:hover, .navbar.scrolled .dropdown-menu > li > a:focus {
  background-color: #F5F5F5;
  color: #333333;
  opacity: 1;
  text-decoration: none;
}
.navbar.scrolled .dropdown.open > a, .navbar.scrolled .dropdown.open > a:hover, .navbar.scrolled .dropdown.open > a:focus, .navbar.scrolled .dropdown.open > a:active {
  color: #6e6e6e;
}
.navbar.scrolled .navbar-toggle {
  background-color: #333;
}
@media screen and (max-width: 1170px) {
  .navbar.scrolled .highdensity-menu {
    max-width: 400px;
    padding-top: 2px;
  }
  .navbar.scrolled .highdensity-menu li a {
    padding: 2px 6px;
  }
}

.navbar {
  background-color: transparent;
  border-bottom: 0;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
  padding: 0.5rem 8rem;
}
@media screen and (max-width: 768px) {
  .navbar {
    padding: 0.5rem;
  }
  .navbar .navbar-collapse {
    background-color: #131313;
    text-align: left !important;
  }
  .navbar .navbar-nav > li > a {
    color: #fff !important;
  }
  .navbar .navbar-nav > .active > a, .navbar .navbar-nav > .active > a:hover {
    background-color: #131313 !important;
  }
}
.navbar .navbar-center {
  display: inline-block;
  float: none;
}
.navbar .navbar-collapse {
  text-align: center;
}
.navbar .navbar-brand {
  color: #fff;
  font-weight: bold;
}
.navbar .navbar-brand:hover {
  color: #fff;
}
.navbar .navbar-nav > li > a {
  color: #fff;
}
.navbar .navbar-nav > li > a:hover {
  color: #fff;
  text-decoration: underline;
}
.navbar .navbar-nav > .active > a {
  color: #d8d8d8;
}
.navbar .navbar-nav > .active > a:hover {
  color: #d8d8d8;
}
.navbar .navbar-nav > .active > a, .navbar .navbar-nav > .active > a:hover {
  background-color: transparent;
}
.navbar .navbar-nav > li > .dropdown-menu, .navbar .dropdown-menu {
  display: block;
  margin: 0;
  padding: 0;
  z-index: 1000;
  position: absolute;
  opacity: 0;
  -moz-transform: scale(0);
  -ms-transform: scale(0);
  -webkit-transform: scale(0);
  transform: scale(0);
  -moz-box-shadow: 1px, 2px, 3px, rgba(0, 0, 0, 0.125);
  -webkit-box-shadow: 1px, 2px, 3px, rgba(0, 0, 0, 0.125);
  box-shadow: 1px, 2px, 3px, rgba(0, 0, 0, 0.125);
  -moz-border-radius: 0.8rem;
  -webkit-border-radius: 0.8rem;
  border-radius: 0.8rem;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-filter: alpha(opacity=0);
  filter: alpha(opacity=0);
  -moz-transition: all, 100ms, cubic-bezier(0.95, 0.05, 0.795, 0.035);
  -o-transition: all, 100ms, cubic-bezier(0.95, 0.05, 0.795, 0.035);
  -webkit-transition: all, 100ms, cubic-bezier(0.95, 0.05, 0.795, 0.035);
  transition: all, 100ms, cubic-bezier(0.95, 0.05, 0.795, 0.035);
  -moz-transition-timing-function: cubic-bezier(0.95, 0.05, 0.795, 0.035);
  -o-transition-timing-function: cubic-bezier(0.95, 0.05, 0.795, 0.035);
  -webkit-transition-timing-function: cubic-bezier(0.95, 0.05, 0.795, 0.035);
  transition-timing-function: cubic-bezier(0.95, 0.05, 0.795, 0.035);
}
@media screen and (max-width: 768px) {
  .navbar .navbar-nav > li > .dropdown-menu, .navbar .dropdown-menu {
    position: inherit !important;
    display: none !important;
  }
  .navbar .navbar-nav > li > .dropdown-menu a, .navbar .dropdown-menu a {
    color: #fff !important;
  }
}
.navbar .navbar-nav > li.open > .dropdown-menu, .navbar .open .dropdown-menu {
  -moz-transform: scale(1);
  -ms-transform: scale(1);
  -webkit-transform: scale(1);
  transform: scale(1);
  -webkit-filter: none;
  filter: none;
  opacity: 1;
  display: block !important;
}
.navbar .dropdown-menu:before, .navbar .dropdown-menu:after, .navbar.scrolled .dropdown-menu:before, .navbar.scrolled .dropdown-menu:after {
  border-left: 11px solid transparent;
  border-right: 11px solid transparent;
  content: "";
  display: inline-block;
  position: absolute;
  left: 100%;
  margin-left: -90%;
}
@media screen and (max-width: 768px) {
  .navbar .dropdown-menu:before, .navbar .dropdown-menu:after, .navbar.scrolled .dropdown-menu:before, .navbar.scrolled .dropdown-menu:after {
    display: none !important;
  }
}
.navbar .navbar-right .dropdown-menu:before, .navbar .navbar-right .dropdown-menu:after {
  margin-left: -30%;
}
.navbar .dropdown-menu:before {
  border-bottom: 11px solid rgba(0, 0, 0, 0.2);
  top: -11px;
}
.navbar .dropdown-menu:after {
  border-bottom: 11px solid #FFFFFF;
  top: -10px;
}
.navbar .dropdown-menu > li > a {
  padding: 8px 20px;
  color: #333333;
}
.navbar .dropdown-menu > li:first-child > a {
  border-radius: 10px 10px 0 0;
}
.navbar .dropdown-menu > li:last-child > a {
  border-bottom: 0 none;
  border-radius: 0 0 10px 10px;
}
.navbar .dropdown-menu > li > a:hover, .navbar .dropdown-menu > li > a:focus {
  background-color: #F5F5F5;
  color: #333333;
  opacity: 1;
  text-decoration: none;
}
.navbar .dropdown.open > a, .navbar .dropdown.open > a:hover, .navbar .dropdown.open > a:focus, .navbar .dropdown.open > a:active {
  color: #fff;
}
.navbar .navbar-toggle {
  background-color: #333;
}
@media screen and (max-width: 1170px) {
  .navbar .highdensity-menu {
    max-width: 400px;
    padding-top: 2px;
  }
  .navbar .highdensity-menu li a {
    padding: 2px 6px;
  }
}

.navbar.scrolled {
  background-color: #fff;
  border-bottom: 0;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
  padding: 0.5rem 8rem;
  opacity: 0.9;
  box-shadow: 0 0.05rem 1rem #333;
}
@media screen and (max-width: 768px) {
  .navbar.scrolled {
    padding: 0.5rem;
  }
  .navbar.scrolled .navbar-collapse {
    background-color: #131313;
    text-align: left !important;
  }
  .navbar.scrolled .navbar-nav > li > a {
    color: #fff !important;
  }
  .navbar.scrolled .navbar-nav > .active > a, .navbar.scrolled .navbar-nav > .active > a:hover {
    background-color: #131313 !important;
  }
}
.navbar.scrolled .navbar-center {
  display: inline-block;
  float: none;
}
.navbar.scrolled .navbar-collapse {
  text-align: center;
}
.navbar.scrolled .navbar-brand {
  color: #010101;
  font-weight: bold;
}
.navbar.scrolled .navbar-brand:hover {
  color: #6e6e6e;
}
.navbar.scrolled .navbar-nav > li > a {
  color: #6e6e6e;
}
.navbar.scrolled .navbar-nav > li > a:hover {
  color: #6e6e6e;
  text-decoration: underline;
}
.navbar.scrolled .navbar-nav > .active > a {
  color: #010101;
}
.navbar.scrolled .navbar-nav > .active > a:hover {
  color: #010101;
}
.navbar.scrolled .navbar-nav > .active > a, .navbar.scrolled .navbar-nav > .active > a:hover {
  background-color: #fff;
}
.navbar.scrolled .navbar-nav > li > .dropdown-menu, .navbar.scrolled .dropdown-menu {
  display: block;
  margin: 0;
  padding: 0;
  z-index: 1000;
  position: absolute;
  opacity: 0;
  -moz-transform: scale(0);
  -ms-transform: scale(0);
  -webkit-transform: scale(0);
  transform: scale(0);
  -moz-box-shadow: 1px, 2px, 3px, rgba(0, 0, 0, 0.125);
  -webkit-box-shadow: 1px, 2px, 3px, rgba(0, 0, 0, 0.125);
  box-shadow: 1px, 2px, 3px, rgba(0, 0, 0, 0.125);
  -moz-border-radius: 0.8rem;
  -webkit-border-radius: 0.8rem;
  border-radius: 0.8rem;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-filter: alpha(opacity=0);
  filter: alpha(opacity=0);
  -moz-transition: all, 100ms, cubic-bezier(0.95, 0.05, 0.795, 0.035);
  -o-transition: all, 100ms, cubic-bezier(0.95, 0.05, 0.795, 0.035);
  -webkit-transition: all, 100ms, cubic-bezier(0.95, 0.05, 0.795, 0.035);
  transition: all, 100ms, cubic-bezier(0.95, 0.05, 0.795, 0.035);
  -moz-transition-timing-function: cubic-bezier(0.95, 0.05, 0.795, 0.035);
  -o-transition-timing-function: cubic-bezier(0.95, 0.05, 0.795, 0.035);
  -webkit-transition-timing-function: cubic-bezier(0.95, 0.05, 0.795, 0.035);
  transition-timing-function: cubic-bezier(0.95, 0.05, 0.795, 0.035);
}
@media screen and (max-width: 768px) {
  .navbar.scrolled .navbar-nav > li > .dropdown-menu, .navbar.scrolled .dropdown-menu {
    position: inherit !important;
    display: none !important;
  }
  .navbar.scrolled .navbar-nav > li > .dropdown-menu a, .navbar.scrolled .dropdown-menu a {
    color: #fff !important;
  }
}
.navbar.scrolled .navbar-nav > li.open > .dropdown-menu, .navbar.scrolled .open .dropdown-menu {
  -moz-transform: scale(1);
  -ms-transform: scale(1);
  -webkit-transform: scale(1);
  transform: scale(1);
  -webkit-filter: none;
  filter: none;
  opacity: 1;
  display: block !important;
}
.navbar.scrolled .dropdown-menu:before, .navbar.scrolled .dropdown-menu:after {
  border-left: 11px solid transparent;
  border-right: 11px solid transparent;
  content: "";
  display: inline-block;
  position: absolute;
  left: 100%;
  margin-left: -90%;
}
@media screen and (max-width: 768px) {
  .navbar.scrolled .dropdown-menu:before, .navbar.scrolled .dropdown-menu:after {
    display: none !important;
  }
}
.navbar.scrolled .navbar-right .dropdown-menu:before, .navbar.scrolled .navbar-right .dropdown-menu:after {
  margin-left: -30%;
}
.navbar.scrolled .dropdown-menu:before {
  border-bottom: 11px solid rgba(0, 0, 0, 0.2);
  top: -11px;
}
.navbar.scrolled .dropdown-menu:after {
  border-bottom: 11px solid #FFFFFF;
  top: -10px;
}
.navbar.scrolled .dropdown-menu > li > a {
  padding: 8px 20px;
  color: #333333;
}
.navbar.scrolled .dropdown-menu > li:first-child > a {
  border-radius: 10px 10px 0 0;
}
.navbar.scrolled .dropdown-menu > li:last-child > a {
  border-bottom: 0 none;
  border-radius: 0 0 10px 10px;
}
.navbar.scrolled .dropdown-menu > li > a:hover, .navbar.scrolled .dropdown-menu > li > a:focus {
  background-color: #F5F5F5;
  color: #333333;
  opacity: 1;
  text-decoration: none;
}
.navbar.scrolled .dropdown.open > a, .navbar.scrolled .dropdown.open > a:hover, .navbar.scrolled .dropdown.open > a:focus, .navbar.scrolled .dropdown.open > a:active {
  color: #6e6e6e;
}
.navbar.scrolled .navbar-toggle {
  background-color: #333;
}
@media screen and (max-width: 1170px) {
  .navbar.scrolled .highdensity-menu {
    max-width: 400px;
    padding-top: 2px;
  }
  .navbar.scrolled .highdensity-menu li a {
    padding: 2px 6px;
  }
}
