.navbar {
  background-color: transparent;
  border-bottom: 0;
  padding: 0.5rem 8rem;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}
.navbar .navbar-brand {
  color: #fff;
  font-weight: bold;
}
.navbar .navbar-brand:hover {
  color: #fff;
}
.navbar .navbar-nav > li > a {
  color: #fff;
}
.navbar .navbar-nav > li > a:hover {
  color: #dde300;
}
.navbar .navbar-nav > .active > a {
  color: #ffe727;
}
.navbar .navbar-nav > .active > a:hover {
  color: #dde300;
}
.navbar .navbar-nav > .active > a, .navbar .navbar-nav > .active > a:hover {
  background-color: transparent;
}
.navbar.scrolled {
  background-color: #fff;
  opacity: 0.9;
  box-shadow: 0 0.05rem 1rem #333;
}
.navbar.scrolled .navbar-brand {
  color: #525252;
}
.navbar.scrolled .navbar-brand:hover {
  color: #fff;
}
.navbar.scrolled .navbar-nav > li > a {
  color: #525252;
}
.navbar.scrolled .navbar-nav > li > a:hover {
  color: #dde300;
}
.navbar.scrolled .navbar-nav > .active > a {
  color: #ffe727;
}
.navbar.scrolled .navbar-nav > .active > a:hover {
  color: #dde300;
}
