.jumbotron {
  background-size: cover;
  background-position: center;
  text-align: center;
}
.jumbotron h1 {
  color: #fff;
}
.jumbotron h2 {
  color: #fff;
}
.jumbotron h3 {
  color: #fff;
}
.jumbotron strong {
  color: #fff;
}
@media screen and (min-width: 768px) {
  .jumbotron {
    padding: 20rem 15rem;
    height: 65rem;
  }
}
@media screen and (max-width: 767px) {
  .jumbotron {
    padding: 7rem 0.5rem;
    min-height: 40rem;
  }
}
