<ul class="dropdown-menu"{% include 'partials/_attributes.html.twig' %}>
  {% for item in items %}
    {% if item.type == "divider" %}
    <li role="separator" class="divider"></li>
    {% elseif item.type == "header" %}    
    <li class="dropdown-header">{{ item.caption }}</li>
    {% else %}
    <li{% if item.disabled|default(false) %} class="disabled"{% endif %}>{% include 'partials/_link.html.twig' with {'attributes': item.attrbutes} %}</li>
    {% endif %}
  {% endfor %}
</ul>
