{% if item.icon is defined %}
{% set icon_type = item.icon_type|default('glyphicon') %}
{% if icon_type == 'glyphicon' %}
<span class="glyphicon glyphicon-{{ item.icon }}"></span> 
{% elseif icon_type == 'fontawesome' %}
<i class="fa fa-{{ item.icon }}"></i> 
{% else %}
<p>{{ icon_type ~ ' is not supported'}}</p>
{% endif %}
{% endif %}

