<ul class="nav navbar-nav  {{ menu.attributes['class'] }}{% include 'partials/_navbar_item_alignment.html.twig' with {'item': menu} %}"{% include 'partials/_attributes.html.twig' with {'attributes': menu.attributes, 'ignore': ['class']} %}>
    {% for item in menu.items %} 
    {#<li class="active"><a href="#">Link <span class="sr-only">(current)</span></a></li>#}
    {% if item.type == 'link' %}
    <li>{% include 'partials/_link.html.twig' with {'attributes': item.attributes }%}</li>
    {% elseif item.type == 'dropdown' %}
    {% include 'partials/_navbar_dropdown.html.twig' with {'dropdown': item } %}
    {% elseif item.type == 'button' %}
    <li>{% include 'partials/_navbar_button.html.twig' with {'item': item } %}</li>
    {% endif %}
    {% endfor %}
</ul>