<form class="navbar-form{% include 'partials/_navbar_item_alignment.html.twig' with {'item': form} %}" role="{{ form.role }}">
    <div class="form-group">
        <input type="text" class="form-control" placeholder="{{ form.input.placeholder }}">
    </div>
    {% if form.submit.visible %}
    <button type="submit" class="btn btn-{{ form.submit.type }}">{{ form.submit.label }}</button>
    {% endif %}
</form>