<form class="navbar-form {% include 'bootstrap/partials/_navbar_item_alignment.html.twig' %}" role="{{ role }}">
    <div class="form-group">
        <input type="text" class="form-control" placeholder="{{ placeholder }}">
    </div>
    {% if button_visible %}
    {% set attributes = parse_attributes(button_attributes) %}
    {% include 'basic/button.html.twig' %}
    {% endif %}
</form>