{% set attributes = parse_attributes(attributes) %}
{% set close_button_attributes = parse_attributes(close_button_attributes) %}
<div id="{{ id }}" class="modal fade" tabindex="-1" role="dialog" {% include 'partials/_attributes.html.twig' %}>
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" {% include 'partials/_attributes.html.twig' with{'attributes': close_button_attributes} %}><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title">{{ title }}</h4>
      </div>
      <div class="modal-body">
          {{ content }}
      </div>
      <div class="modal-footer">
          {% for button in buttons %}
          {{ button.content }}
          {% endfor %}
      </div>
    </div>
  </div>
</div>
