<div id="{{ name }}" role="tabpanel" class="tab-pane{% if is_first %} active{% endif %} {{ attributes['class'] }}" {% include 'partials/_attributes.html.twig' with {'ignore': ['class']} %}>{{ content }}</div>
