<div {% include 'partials/_attribute.html.twig' with {'attribute_name': 'id', 'attribute_value': id} %} class="well{% if small %} well-sm{% endif %}{% if large %} well-lg{% endif %}">
    {{ content }}
</div>