{% include 'footer/footer_one.html.twig' with {'footer_one': footer_two} %}
<footer class="footer-license">
    <div class="container ">
        <div class="row">
            <div class="col-md-12 col-sm-12">
                {{ sections.license }}
            </div>
        </div>
    </div>
</footer>
