{% embed 'modules/partials/base_module.html.twig' %}       
    {% block module_content %}
        <div class="row">
        {% for item in items %}
            {{ item }}
        {% endfor %}
        </div>
    {% endblock %}
{% endembed %}