<button type="button" class="btn btn-{{ button_type|default('default') }} {{ button_attributes.class }}"{% include 'partials/_attributes.html.twig' with {'attributes': button_attributes, 'ignore': ['class']} %}>{{ button_label }}</button>
