<div class="{% if dropdown.dropup|default(false) %}dropup{% else %}dropdown{% endif %}">
  <button class="btn btn-{{ dropdown.type|default('default') }} dropdown-toggle {{ dropdown.attributes['class'] }}" type="button" data-toggle="dropdown"{% include 'partials/_attributes.html.twig' with {'attributes': dropdown.attributes, 'ignore': ['class']} %}>
    {{ dropdown.label }}
    <span class="caret"></span>
  </button>
  {% include "partials/_dropdown_items.html.twig" with {'items': dropdown.items } %}
</div>