{#
{% set image = (jumbotron.image is defined) ? ' style="background-image: url(\'' ~ grav['page'].media.images[jumbotron.image].brightness(-30).url ~ '\')"' : '' %}#}
<div class="jumbotron" style="background-image: url('{{ jumbotron.processed_image.url }}')">
    {% if jumbotron.fullwidth == true %}
    <div class="container">
    {% endif %}
    {{ jumbotron.sections|first }}    
    {% if jumbotron.fullwidth == true %}
    </div>
    {% endif %}
</div>