<div class="list-group">
    {% for item in listgroup.items %}
        <a href="{{ item.url }}" class="list-group-item{% if item.type is defined %} list-group-item-{{ item.type }}{% endif %}{% if item.active %} active{% endif %}{% if item.disabled %} disabled{% endif %}">
            {% if(item.badge is defined) %}
            <span class="badge">14</span>
            {% endif %}
            {{ listgroup.sections[item.section] }}
        </a>
    {% endfor %}
</div>