<div class="btn-group">
  <button type="button" class="btn btn-{{ splitbutton.type }}">{{ splitbutton.label }}</button>
  <button type="button" class="btn btn-{{ splitbutton.type }} dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    <span class="caret"></span>
    <span class="sr-only">{{ splitbutton.label }}</span>
  </button>
  {% include "partials/_dropdown_items.html.twig" with {'items': splitbutton.items } %}
</div>