<div class="well{% if well.small %} well-sm{% endif %}{% if well.large %} well-lg{% endif %}">
    {% if well.body is defined %}
        {{ well.body }}
    {% else %}
        {{ well.sections.body }}
    {% endif %}
</div>