<div {% include 'partials/_attributes.html.twig' %}>
    <div class="item-image">
        {{ grav.page.media.images[image].cropZoom(150, 150) }}
    </div>
    {% if content != "" %}
    <div class="item-text">{{ content }}</div>
    {% endif %}
    <div class="item-social">
        {% for social in socials %}
            {{ social }}
            {#{% include 'partials/_link.html.twig' with { 'item': social } %}#}
        {% endfor %}
    </div>
</div>